{{#if block._state.errorMessage}}
  <div class="alert alert-danger error-container">
    <div class="error-title">{{fa-icon "exclamation-circle"}} Error Loading Data</div>
    <div class="error-message">{{block._state.errorMessage}}</div>
  </div>
{{/if}}

<div class="mb-1">
  <a href="{{searchLink}}">Run search in Insight IDR {{fa-icon "external-link-square" class="external-link-icon"}}</a>
  {{#if block.userOptions.logQueryTimeRange}}
    <div class="mt-1">
      <span class="p-footnote query-info">Search window: {{block.userOptions.logQueryTimeRange}}</span>
    </div>
  {{/if}}
</div>

{{#if (and (eq logs.length 0)(eq formattedGroupStats.length 0)(not hasStats))}}
  <div class="alert alert-info mt-2" role="alert">
    No Search Results Found
  </div>
{{/if}}

{{!-- Display stats if any --}}
{{#if hasStats}}
  {{#each-in stats as | statsKey statsObj |}}
    <div class="stats-container">
      <div>
        <div class="stats-type">
          {{#if statIcon}}
            {{fa-icon icon=statIcon fixedWidth=true}}
          {{else if (eq statistics.type "standarddeviation")}}
            <span class="text-icon">σ</span>
          {{/if}}
          {{statistics.type}}
        </div>
      </div>
      <div>
        <div class="stats-key">{{statsKey}}</div>
        <div class="stats-value">{{get statsObj statistics.type}}</div>
      </div>
    </div>
  {{/each-in}}
{{/if}}

{{!-- Display groupBy information --}}
{{#if (and formattedGroupStats (gt formattedGroupStats.length 0))}}
  <div class="scrollable-container">
    {{#each formattedGroupStats as | group |}}
      <div class="group-container">
        <div class="path-container">
          <div class="breadcrumb-mask"></div>
          <ul>
          {{#each group.groupings as | groupBy index|}}
            <li>
              <span class="layout-path">
                <small class="field">{{groupBy.groupByField}}: </small>
                <small class="value">{{groupBy.groupByValue}}</small>
              </span>
            </li>
          {{/each}}
          </ul>
        </div>
        <div>
          <span class="p-key">{{group.stat.statType}}: </span>
          <span class="p-value weight-600">{{group.stat.statValue}}</span>
        </div>
      </div>
    {{/each}}
  </div>
{{/if}}

{{!-- Display Logs (Events) if any --}}
{{#each logs as |log index|}}
  <div>
    {{#if (and block.userOptions.documentTitleField (get log.message block.userOptions.documentTitleField))}}
      <span class="p-title">
        {{fa-icon "file-alt" fixedWidth=true}} {{get log.message block.userOptions.documentTitleField}}
      </span>
    {{else}}
      <span class="p-title"> {{fa-icon "file-alt" fixedWidth=true}} Log: {{log.log_id}}</span>
    {{/if}}
  </div>

  <ul class="nav nav-tabs">
    {{#if showFieldsTab}}
      <li class="nav-item">
        <a {{action "showFields" index}} class="nav-link {{if log.showFields "active"}}" href="#">Fields</a>
      </li>
    {{/if}}
    <li class="nav-item">
      <a {{action "showJson" index}} class="nav-link {{if log.showJson "active"}}" href="#">JSON</a>
    </li>
    <li class="nav-item">
      <a {{action "showTable" index}} class="nav-link {{if log.showTable "active"}}" href="#">Table</a>
    </li>
  </ul>

  {{#if log.showFields}}
    <div class="scrollable-container fields-block scrollable-block mt-2">
      {{#if (eq log.fields.length 0)}}
        <span class="p-footnote">No matching fields found for this log entry</span>
      {{/if}}
      {{#each log.fields as | field |}}
        <div>
          <span class="p-key">{{field.label}}</span>
          <span class="p-value">{{field.value}}</span>
        </div>
      {{/each}}
    </div>
  {{/if}}
  {{#if log.showJson}}
    <div class="scrollable-container json-block mt-2">
      <pre>{{{log.json}}}</pre>
    </div>
  {{/if}}
  {{#if log.showTable}}
    <div class="scrollable-container fields-table mt-2">{{object-to-table log.message}}</div>
  {{/if}}
{{/each}}

